#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
<input type="text" class="text long-field innfromparty" name="$customField.id" id="$customField.id" value="$!value"/>
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)